Value Filldown OSPF_PID (\d+)
Value Filldown VRF (\S+)
Value Required NEIGHBOR_IPADDR (\d+\.\d+\.\d+\.\d+)
Value Required STATE (\S+.\/.\S+) 
Value Required UPTIME (\S+)
Value Required LOCAL_IPADDR (\d+\.\d+\.\d+\.\d+)
Value Required INTERFACE (\S+)

Start
  ^\s+\w+\s+\w+\s+\w+\s+${OSPF_PID}\s+[Vv][Rr][Ff]\s+${VRF} -> Record
  ^\s+${NEIGHBOR_IPADDR}\s+\d+\s+${STATE}\s+${UPTIME}\s+${LOCAL_IPADDR}\s+${INTERFACE}.+ -> Record
