Value PROTOCOL (\S+)
Value ADDRESS (\d+\.\d+\.\d+\.\d+)
Value AGE ([-\d+]+)
Value MAC (\S+)
Value TYPE (\S+)
Value INTERFACE (\S+)

Start
  ^${PROTOCOL}\s+${ADDRESS}\s+${AGE}\s+${MAC}\s+${TYPE}\s+${INTERFACE} -> Record
